@import '~bulma/sass/utilities/all'

.manufacturer-list
  // display: flex
  // flex-wrap: wrap
  // flex-direction: row
  .box
    // box-shadow: none
    .tags
      margin-top: 1rem
    .manufacturer-wrapper
      position: relative
      .logo-wrapper
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        align-content: center
        background-color: rgba(0,0,0,0.25)
        flex-shrink: 1
        padding: 0
        .title-display
          display: inline-block
          flex-shrink: 1
          margin: auto
  +from($desktop)
    .box
      // padding: 0
      margin: 0 .25rem .4rem .25rem
      // min-width: 32%
      // max-width: 32%
  +from($tablet)
    .box
      margin: 0 .25rem .4rem .25rem
      // width: 49%
  +until($tablet)
    .box
      width: 100%
