@import '~bulma/sass/utilities/all';

.manufacturer-post
  .hero-body
    padding: 3rem 0

  .hero-logo
    +desktop
      width: 400px
      display: inline-block
      padding: 0 3rem
    +mobile
      width: 300px

  .tags
    margin-top: 2rem

  .manufacturer-items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    align-content: flex-start

  .column
    .manufacturer-section
      padding-top: 0
      &:not(:first-child)
        h2
          margin-top: 1.5rem
