.manufacturer-post {
  .hero-logo {
    width: 400px;
    display: inline-block;
  }

  .tags {
    margin-top: 2rem;
  }

  .manufacturer-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
  }
}
