@import '~bulma/sass/utilities/all';

.manufacturer-post
  .img-hero
    // min-height: 18rem
    position: relative
    overflow: hidden

    .hero-image
      position: absolute !important
      top: 0
      right: 0
      bottom: 0
      left: 0

      .hero-img
        position: absolute !important
        top: 0
        right: 0
        bottom: 0
        left: 0

  .hero-body
    // padding: 3rem 0
    // text-align: center

  .hero-logo
    width: 400px
    display: inline-block
    padding: 0 3rem
    +until($tablet)
      width: 300px

  .tags
    margin-top: 2rem

  .manufacturer-items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    align-content: flex-start

  .column
    .manufacturer-section
      padding-top: 0
      &:not(:first-child)
        h2
          margin-top: 1.5rem
      .is-paddingless-mobile
        +until($tablet)
          margin: 0
          padding: 0
          padding-bottom: .75rem
