@import '~system-font-css/system-font';

// Bulma Overrides
$family-sans-serif: "Helvetica Neue",
system-ui,
sans-serif;
$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;
$navbar-height: 4rem;
$primary: #0BA24A;
$link: $primary;
$white-bis: hsl(0, 0%, 98%) !default;
$modal-content-width: 800px;

// All of bulma
@import '~bulma/bulma';

// Utilities
// @import '~bulma/sass/utilities/initial-variables';
// @import '~bulma/sass/utilities/functions';
// @import '~bulma/sass/utilities/derived-variables';
// @import '~bulma/sass/utilities/mixins';
// @import '~bulma/sass/utilities/controls';

// Base
//@import '~bulma/sass/base/_all';

// Elements
// @import '~bulma/sass/elements/box';
// @import '~bulma/sass/elements/button';
// @import '~bulma/sass/elements/container';
// @import '~bulma/sass/elements/content';
// @import '~bulma/sass/form/_all';
// @import '~bulma/sass/elements/icon';
// @import '~bulma/sass/elements/image';
// @import '~bulma/sass/elements/tag';
// @import '~bulma/sass/elements/title';

// Components
// @import '~bulma/sass/components/dropdown';
// @import '~bulma/sass/components/level';
// @import '~bulma/sass/components/menu';
// @import '~bulma/sass/components/navbar';
// @import '~bulma/sass/components/modal';
// @import '~bulma/sass/components/card';

// Helpers
// @import '~bulma/sass/helpers/_all';

// Grid
// @import '~bulma/sass/grid/_all';
// @import '~bulma/sass/layout/_all';

// Core Overrides
html,
body {
  background-color: $white-bis;
}

.section {
  background-color: $white
}

.content-section {
  .section:first-of-type {
    padding-top: 2rem;
  }
}

.no-print {
  @media print {
    display: none
  }
}

::selection {
  background: $primary;
  color: $white;
}
