.social-links {
  a {
    margin: 0 .5rem;
    color: #333;

    .logotype {
      display: inline;
      max-width: 25px;
      max-height: 25px;

      svg {
        transition: fill 0.3s ease;
        max-width: 25px;
        max-height: 25px;
      }
    }
  }
}
