.product-preview
  h3
    background-color: #fff
    display: inline-block
  &.selected
    h3
      animation: pulse 3s 1
      animation-timing-function: ease-in-out
  &.offecct
    .product-preview-image
      // max-height: 300px
      // max-width: 300px
  &.baux

@keyframes pulse
  0%, 100%
    color: inherit
  50%
    color: #0BA24A
