// System Font
@import '~system-font-css/system-font';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Bulma Overrides
$family-sans-serif: "Helvetica Neue", system-ui, "Helvetica", "Arial", sans-serif;

$radius-small:      0px;
$radius:            0px;
$radius-large:      0px;

$navbar-height:     4rem;

$primary:           #0BA24A;
$link:              $primary;
$white-bis:         hsl(0, 0%, 98%) !default;

@import '~bulma/bulma.sass';

// Core overrides
html, body {
  background-color: $white-bis
}

.section {
  background-color: $white
}

.content-section {
  .section:first-of-type {
    padding-top: 2rem;
  }
}

.no-print {
  @media print {
    display: none
  }
}

::selection {
  background: $primary;
  color: $white;
}
